<h2>Post a Secret</h2>

<form class="secrets-form" action="" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="secret[recipient_id]" value="<%= secret.recipient_id %>">

  <label for="secret-title">Title</label>
  <input type="text" name="secret[title]" value="<%= secret.title %>" id="secret-title">

  <p><input type="submit" id="create-secret" value="Create Secret"></p>
</form>